<div class="brand-box">
    <a class="brand-link" href="">
        <img src="images/pizza-logo.svg" alt="Blazor Pizza logo" class="brand-logo" />
        <span class="brand-name">Edwin Pizza App</span>
    </a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<nav class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="nav-icon">🍕</span>
            <span>Pizza Menu</span>
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="#order">
            <span class="nav-icon">🧾</span>
            <span>Order Pane</span>
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="#about">
            <span class="nav-icon">ℹ️</span>
            <span>About</span>
        </NavLink>
    </div>
</nav>
